In [1]:
import pandas as pd 
import numpy as np

In [2]:
# File to Load 
file_to_load = './Resources/nba_positions.csv'

In [3]:
nba_positions = pd.read_csv(file_to_load)

nba_positions

,Rk,Player.x,Player_ID,Pos1,Pos2,Age,Tm,G,GS,MP,...,Conference,Role,Fvot,FRank,Pvot,PRank,Mvot,MRank,Score,Play
0,170,A.J. Hammons,hammoaj01,C,NaN,24,DAL,22,0,7.4,...,West,Front,786,123,NaN,NaN,NaN,NaN,83.5,No
1,58,Aaron Brooks,brookaa01,PG,NaN,32,IND,65,0,13.8,...,Est,Back,2474,64,NaN,NaN,NaN,NaN,48.2,No
2,157,Aaron Gordon,gordoaa01,SF,NaN,21,ORL,80,72,28.7,...,Est,Front,22774,29,NaN,NaN,NaN,NaN,40.0,No
3,352,Adreian Payne,paynead01,PF,NaN,25,MIN,18,0,7.5,...,West,Front,861,120,1.0,52.0,NaN,NaN,75.5,No
4,10,Al-Farouq Aminu,aminual01,PF,NaN,26,POR,61,25,29.1,...,West,Front,4971,69,7.0,23.0,NaN,NaN,42.8,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,109,Zach Collins,colliza01,C,NaN,21,POR,77,0,17.6,...,West,Front,16287,74,1.0,52.0,0.0,8.0,86.8,No
1404,294,Zach LaVine,lavinza01,SG,NaN,23,CHI,63,62,34.5,...,Est,Back,519746,7,17.0,8.0,0.0,8.0,36.5,No
1405,308,Zach Lofton,loftoza01,SG,NaN,26,DET,1,0,4.0,...,Est,Back,136,114,0.0,61.0,0.0,8.0,132.2,No
1406,393,Zaza Pachulia,pachuza01,C,NaN,34,DET,68,3,12.9,...,Est,Front,21525,50,2.0,41.0,0.0,7.0,69.8,No
1407,457,Zhaire Smith,smithzh01,SG,NaN,19,PHI,6,2,18.5,...,Est,Back,3985,91,0.0,61.0,0.0,8.0,120.8,No

In [4]:
nba_data = nba_positions[["Player.x", "Pos1", "Season"]]

In [5]:
nba_data

             Player.x Pos1   Season
0        A.J. Hammons    C  2016-17
1        Aaron Brooks   PG  2016-17
2        Aaron Gordon   SF  2016-17
3       Adreian Payne   PF  2016-17
4     Al-Farouq Aminu   PF  2016-17
...               ...  ...      ...
1403     Zach Collins    C  2018-19
1404      Zach LaVine   SG  2018-19
1405      Zach Lofton   SG  2018-19
1406    Zaza Pachulia    C  2018-19
1407     Zhaire Smith   SG  2018-19

[1408 rows x 3 columns]

In [6]:
nba_data = nba_data.rename(columns={"Player.x": "PLAYER", "Pos1": "POSITION", "Season": "YEAR"})

In [7]:
nba_data

               PLAYER POSITION     YEAR
0        A.J. Hammons        C  2016-17
1        Aaron Brooks       PG  2016-17
2        Aaron Gordon       SF  2016-17
3       Adreian Payne       PF  2016-17
4     Al-Farouq Aminu       PF  2016-17
...               ...      ...      ...
1403     Zach Collins        C  2018-19
1404      Zach LaVine       SG  2018-19
1405      Zach Lofton       SG  2018-19
1406    Zaza Pachulia        C  2018-19
1407     Zhaire Smith       SG  2018-19

[1408 rows x 3 columns]

In [8]:
nba_data.dtypes

PLAYER      object
POSITION    object
YEAR        object
dtype: object

In [9]:
nba_data

               PLAYER POSITION     YEAR
0        A.J. Hammons        C  2016-17
1        Aaron Brooks       PG  2016-17
2        Aaron Gordon       SF  2016-17
3       Adreian Payne       PF  2016-17
4     Al-Farouq Aminu       PF  2016-17
...               ...      ...      ...
1403     Zach Collins        C  2018-19
1404      Zach LaVine       SG  2018-19
1405      Zach Lofton       SG  2018-19
1406    Zaza Pachulia        C  2018-19
1407     Zhaire Smith       SG  2018-19

[1408 rows x 3 columns]

In [10]:
nba_data.sort_values(by=['YEAR', 'PLAYER'], ascending = [False, True])

              PLAYER POSITION     YEAR
934     Aaron Gordon       PF  2018-19
935    Aaron Holiday       PG  2018-19
936      Abdel Nader       SF  2018-19
938       Al Horford        C  2018-19
937  Al-Farouq Aminu       PF  2018-19
..               ...      ...      ...
433      Zach LaVine       SG  2016-17
434    Zach Randolph       PF  2016-17
435    Zaza Pachulia        C  2016-17
10      Álex Abrines       SG  2016-17
319        Ömer Asik        C  2016-17

[1408 rows x 3 columns]

In [11]:
nba_data

               PLAYER POSITION     YEAR
0        A.J. Hammons        C  2016-17
1        Aaron Brooks       PG  2016-17
2        Aaron Gordon       SF  2016-17
3       Adreian Payne       PF  2016-17
4     Al-Farouq Aminu       PF  2016-17
...               ...      ...      ...
1403     Zach Collins        C  2018-19
1404      Zach LaVine       SG  2018-19
1405      Zach Lofton       SG  2018-19
1406    Zaza Pachulia        C  2018-19
1407     Zhaire Smith       SG  2018-19

[1408 rows x 3 columns]

In [12]:
# File to load 
file_to_load = './Resources/nba_shot_type.csv'

In [13]:
nba_shots = pd.read_csv(file_to_load)

In [14]:
nba_shots

,YEAR,PLAYER,TEAM,AGE,GP,W,L,MIN,PCT_FGA_2PT,PCT_FGA_3PT,...,PCT_PTS_FSTBRK,PCT_PTS_FT,PCT_PTS_OFF_TOS,PCT_PTS_INTHEPT,PCT_2PTGFM_ASSTD,PCT_2PTGFM_UNASSTD,PCT_3PTGFM_ASSTD,PCT_3PTGFM_UNASSTD,PCT_FGM_ASSTD,PCT_FGM_UNASSTD
0,2018-2019,Aaron Gordon,ORL,23,78,40,38,33.8,66.8,33.2,...,12.0,14.8,13.7,46.7,50.4,49.6,84.3,15.7,59.1,40.9
1,2018-2019,Aaron Holiday,IND,22,50,31,19,12.9,51.5,48.5,...,15.0,13.9,16.3,29.3,38.7,61.3,79.1,20.9,55.2,44.8
2,2018-2019,Abdel Nader,OKC,25,61,38,23,11.4,53.5,46.5,...,18.7,11.2,20.3,47.3,49.2,50.8,96.9,3.1,65.9,34.1
3,2018-2019,Al Horford,BOS,33,68,41,27,29.0,71.9,28.1,...,5.0,8.4,11.5,47.8,75.2,24.8,100.0,0.0,79.8,20.2
4,2018-2019,Al-Farouq Aminu,POR,28,81,52,29,28.3,52.8,47.2,...,13.6,19.7,15.9,40.5,51.6,48.4,100.0,0.0,69.6,30.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3001,2013-2014,Willie Green,LAC,32,55,38,17,15.8,55.4,44.6,...,15.4,10.3,24.5,24.9,70.5,29.5,92.7,7.3,79.4,20.6
3002,2013-2014,Wilson Chandler,DEN,27,62,27,35,31.1,52.4,47.6,...,13.8,13.0,12.5,32.9,49.7,50.3,96.7,3.3,68.4,31.6
3003,2013-2014,Xavier Henry,LAL,23,43,16,27,21.1,76.5,23.5,...,20.8,26.9,22.0,38.4,44.0,56.0,92.9,7.1,53.5,46.5
3004,2013-2014,Zach Randolph,MEM,32,79,49,30,34.2,98.3,1.7,...,2.3,18.2,13.8,59.8,46.1,53.9,100.0,0.0,46.3,53.8
3005,2013-2014,Zaza Pachulia,MIL,30,53,10,43,25.0,99.7,0.3,...,6.9,27.0,16.2,53.9,62.4,37.6,0.0,0.0,62.4,37.6

In [15]:
nba_shots = nba_shots[['YEAR', 'PLAYER', 'PCT_FGA_2PT', 'PCT_FGA_3PT', 'MIN']]

In [16]:
nba_shots

           YEAR           PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN
0     2018-2019     Aaron Gordon         66.8         33.2  33.8
1     2018-2019    Aaron Holiday         51.5         48.5  12.9
2     2018-2019      Abdel Nader         53.5         46.5  11.4
3     2018-2019       Al Horford         71.9         28.1  29.0
4     2018-2019  Al-Farouq Aminu         52.8         47.2  28.3
...         ...              ...          ...          ...   ...
3001  2013-2014     Willie Green         55.4         44.6  15.8
3002  2013-2014  Wilson Chandler         52.4         47.6  31.1
3003  2013-2014     Xavier Henry         76.5         23.5  21.1
3004  2013-2014    Zach Randolph         98.3          1.7  34.2
3005  2013-2014    Zaza Pachulia         99.7          0.3  25.0

[3006 rows x 5 columns]

In [17]:
# Only keeping 3 seasons
nba_shots1 = nba_shots[nba_shots['YEAR'] == '2016-2017']

In [18]:
# Only keeping 3 seasons
nba_shots2 = nba_shots[nba_shots['YEAR'] == '2017-2018']

In [19]:
# Only keeping 3 seasons
nba_shots3 = nba_shots[nba_shots['YEAR'] == '2018-2019']

In [20]:
nba_shots1

           YEAR           PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN
1070  2016-2017       AJ Hammons         76.2         23.8   7.4
1071  2016-2017     Aaron Brooks         57.3         42.7  13.7
1072  2016-2017     Aaron Gordon         69.1         30.9  28.7
1073  2016-2017   Aaron Harrison         50.0         50.0   3.3
1074  2016-2017    Adreian Payne         72.2         27.8   7.5
...         ...              ...          ...          ...   ...
1551  2016-2017  Wilson Chandler         65.3         34.7  30.9
1552  2016-2017     Yogi Ferrell         55.3         44.7  26.0
1553  2016-2017      Zach LaVine         56.3         43.7  37.2
1554  2016-2017    Zach Randolph         90.2          9.8  24.5
1555  2016-2017    Zaza Pachulia         99.3          0.7  18.1

[486 rows x 5 columns]

In [21]:
nba_shot_type = pd.concat([nba_shots1, nba_shots2, nba_shots3], axis=0)

In [22]:
nba_shot_type

           YEAR          PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN
1070  2016-2017      AJ Hammons         76.2         23.8   7.4
1071  2016-2017    Aaron Brooks         57.3         42.7  13.7
1072  2016-2017    Aaron Gordon         69.1         30.9  28.7
1073  2016-2017  Aaron Harrison         50.0         50.0   3.3
1074  2016-2017   Adreian Payne         72.2         27.8   7.5
...         ...             ...          ...          ...   ...
525   2018-2019     Zach LaVine         71.7         28.3  34.5
526   2018-2019     Zach Lofton          0.0        100.0   3.8
527   2018-2019   Zaza Pachulia         97.9          2.1  12.9
528   2018-2019    Zhaire Smith         52.9         47.1  18.4
529   2018-2019         Zhou Qi        100.0          0.0   1.0

[1556 rows x 5 columns]

In [23]:
nba_shot_type['YEAR'] = nba_shot_type['YEAR'].replace(['2016-2017','2017-2018','2018-2019'],['2016-17','2017-18','2018-19'])

In [24]:
nba_shot_type

         YEAR          PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN
1070  2016-17      AJ Hammons         76.2         23.8   7.4
1071  2016-17    Aaron Brooks         57.3         42.7  13.7
1072  2016-17    Aaron Gordon         69.1         30.9  28.7
1073  2016-17  Aaron Harrison         50.0         50.0   3.3
1074  2016-17   Adreian Payne         72.2         27.8   7.5
...       ...             ...          ...          ...   ...
525   2018-19     Zach LaVine         71.7         28.3  34.5
526   2018-19     Zach Lofton          0.0        100.0   3.8
527   2018-19   Zaza Pachulia         97.9          2.1  12.9
528   2018-19    Zhaire Smith         52.9         47.1  18.4
529   2018-19         Zhou Qi        100.0          0.0   1.0

[1556 rows x 5 columns]

In [25]:
nba_data

               PLAYER POSITION     YEAR
0        A.J. Hammons        C  2016-17
1        Aaron Brooks       PG  2016-17
2        Aaron Gordon       SF  2016-17
3       Adreian Payne       PF  2016-17
4     Al-Farouq Aminu       PF  2016-17
...               ...      ...      ...
1403     Zach Collins        C  2018-19
1404      Zach LaVine       SG  2018-19
1405      Zach Lofton       SG  2018-19
1406    Zaza Pachulia        C  2018-19
1407     Zhaire Smith       SG  2018-19

[1408 rows x 3 columns]

In [26]:
mergedDf = nba_shot_type.merge(nba_data)

In [27]:
mergedDf

         YEAR         PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN POSITION
0     2016-17   Aaron Brooks         57.3         42.7  13.7       PG
1     2016-17   Aaron Gordon         69.1         30.9  28.7       SF
2     2016-17  Adreian Payne         72.2         27.8   7.5       PF
3     2016-17     Al Horford         69.8         30.2  32.3        C
4     2016-17   Al Jefferson         99.8          0.2  14.1        C
...       ...            ...          ...          ...   ...      ...
1296  2018-19   Zach Collins         69.8         30.3  17.6        C
1297  2018-19    Zach LaVine         71.7         28.3  34.5       SG
1298  2018-19    Zach Lofton          0.0        100.0   3.8       SG
1299  2018-19  Zaza Pachulia         97.9          2.1  12.9        C
1300  2018-19   Zhaire Smith         52.9         47.1  18.4       SG

[1301 rows x 6 columns]

In [28]:
mergedDf.set_index('YEAR')

                PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN POSITION
YEAR
2016-17   Aaron Brooks         57.3         42.7  13.7       PG
2016-17   Aaron Gordon         69.1         30.9  28.7       SF
2016-17  Adreian Payne         72.2         27.8   7.5       PF
2016-17     Al Horford         69.8         30.2  32.3        C
2016-17   Al Jefferson         99.8          0.2  14.1        C
...                ...          ...          ...   ...      ...
2018-19   Zach Collins         69.8         30.3  17.6        C
2018-19    Zach LaVine         71.7         28.3  34.5       SG
2018-19    Zach Lofton          0.0        100.0   3.8       SG
2018-19  Zaza Pachulia         97.9          2.1  12.9        C
2018-19   Zhaire Smith         52.9         47.1  18.4       SG

[1301 rows x 5 columns]

In [29]:
mergedDf

         YEAR         PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN POSITION
0     2016-17   Aaron Brooks         57.3         42.7  13.7       PG
1     2016-17   Aaron Gordon         69.1         30.9  28.7       SF
2     2016-17  Adreian Payne         72.2         27.8   7.5       PF
3     2016-17     Al Horford         69.8         30.2  32.3        C
4     2016-17   Al Jefferson         99.8          0.2  14.1        C
...       ...            ...          ...          ...   ...      ...
1296  2018-19   Zach Collins         69.8         30.3  17.6        C
1297  2018-19    Zach LaVine         71.7         28.3  34.5       SG
1298  2018-19    Zach Lofton          0.0        100.0   3.8       SG
1299  2018-19  Zaza Pachulia         97.9          2.1  12.9        C
1300  2018-19   Zhaire Smith         52.9         47.1  18.4       SG

[1301 rows x 6 columns]

In [30]:
mergedDf = mergedDf.set_index('YEAR')

In [31]:
mergedDf

                PLAYER  PCT_FGA_2PT  PCT_FGA_3PT   MIN POSITION
YEAR
2016-17   Aaron Brooks         57.3         42.7  13.7       PG
2016-17   Aaron Gordon         69.1         30.9  28.7       SF
2016-17  Adreian Payne         72.2         27.8   7.5       PF
2016-17     Al Horford         69.8         30.2  32.3        C
2016-17   Al Jefferson         99.8          0.2  14.1        C
...                ...          ...          ...   ...      ...
2018-19   Zach Collins         69.8         30.3  17.6        C
2018-19    Zach LaVine         71.7         28.3  34.5       SG
2018-19    Zach Lofton          0.0        100.0   3.8       SG
2018-19  Zaza Pachulia         97.9          2.1  12.9        C
2018-19   Zhaire Smith         52.9         47.1  18.4       SG

[1301 rows x 5 columns]

In [33]:
# Take the new dataframe and turn it into a csv file
mergedDf.to_csv(f'./Resources/nba_data.csv')